.listingPage {
  width: 100%;
  height: auto;
  padding: 45px 0px;
}

.breadcrumb {
  width: 100%;
  height: auto;
  padding: 40px 35px;
  background: var(--banner-color);
  border-radius: 20px;
}

.breadcrumb h1 {
  color: #000;
  opacity: 0.8;
  font-size: 30px;
  font-weight: 600;
}

.breadcrumb ul li a {
  color: #000;
  opacity: 0.8;
}

.breadcrumb ul li a svg {
  font-size: 16px;
}

.sidebarWrapper {
  max-width: 90%;
}

.sidebarWrapper img {
  width: 100%;
  border-radius: 18px;
}

.right-content {
  max-width: 100%;
}
