.productSlider {
  width: 100%;
  margin: 0px auto;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  outline: none;
  cursor: pointer;
}

.productSlider .item {
  width: 200px;
  height: 200;
}

.productSlider .item img {
  /* width: 50%; */
  border: 1px solid rgba(0, 0, 0, 0.075);
  border-radius: 15px;
  margin-right: 10px;
}

.productSlider .slick-slide {
  margin-right: 0px;
  padding-right: 10px;
}

.productSlider .slick-current img {
  border: 1px solid var(--primary-color);
}

.productSlider * {
  outline: none !important;
}

.productSlider .slick-arrow.slick-next {
  right: -3% !important;
}
.productSlider .slick-arrow.slick-prev {
  left: -4% !important;
}
