.productCartWrapper {
  border: 1px solid #ccc;
  padding: 10px 12px;
  border-radius: 2px;
  margin-top: 16px;
}

.productDetails img {
  width: 25%;
  height: 25%;
  margin-left: -10%;
}

.productDetails h5 {
  font-size: 14px;
  font-weight: 500;
  color: #000;
}

.productDetails .productInfo .clasification {
  font-size: 13px;
  color: #000;
  opacity: 0.8;
  margin: 4px 0px;
}

.productInfo .available {
  font-size: 13px;
  color: var(--primary-color);
}

.productInfo .offerBox {
  font-size: 10px;
  background-color: var(--primary-color);
  padding: 2px 4px;
  color: #fff;
  font-weight: 500;
  display: inline-block;
  border-radius: 2px;
}

.productInfo .offerBox svg {
  font-size: 12px;
  margin-right: 4px;
  margin-bottom: 1px;
}

.priceWrapper h2 {
  font-size: 26px;
}
