.nav nav .mega_dropdown_menu {
  position: absolute;
  top: 100%;
  /* left: 15px; */
  left: 0px;
  width: 100% !important;
  height: auto;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 15px 30px !important;
  border-radius: 6px;

  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  z-index: 12;
}

.nav nav li:hover .mega_dropdown_menu {
  top: 130%;
  opacity: 1;
  visibility: inherit;
}

.nav .mega_menu_container {
  position: static !important;
}

.mega_dropdown_menu ul {
  padding: 10px 0px;
}

.nav nav .mega_dropdown_menu li {
  width: 100% !important;
  list-style: none;
  margin: 0 !important;
  position: relative;
  padding: 3px 0px;
}

.nav nav .mega_dropdown_menu ul li a {
  color: rgba(0, 0, 0, 0.8);
  font-size: 15px;
  padding: 5px 4px;
  border-radius: 4px;
  display: inline-block;
  width: 100% !important;
}

.nav nav .mega_dropdown_menu ul li a:hover {
  background-color: #f1f1f1;
}

.mega_dropdown_menu h4 {
  font-size: 17px;
  font-weight: 600;
  color: var(--primary-color);
}
