.cartSection {
  width: 100%;
  height: auto;
  padding: 20px 0px;
}

.cartSection h1 {
  margin-bottom: 0 !important;
  /* line-height: 2.8rem; */
}

.cartSection .cartNumber {
  font-weight: 600;
  color: #000;
  opacity: 0.7;
  margin-top: 0px !important;
}

.cartSection .clearCart svg {
  font-size: 20px;
  margin-bottom: 4px;
}

.cartSection .clearCart {
  color: #000;
  opacity: 0.6;
  font-weight: 500;
}

.cartHeader {
  border: 1px solid #ccc;
  padding: 4px 12px;
  border-radius: 2px;
  padding-right: 26px;
}
