.cartSection {
  width: 100%;
  height: auto;
  padding: 10px 0px;
}

.cartSection h1 {
  margin-bottom: 0 !important;
  /* line-height: 2.8rem; */
}

.cartSection .cartNumber {
  font-weight: 600;
  color: #000;
  opacity: 0.7;
  margin-top: 0px !important;
}

.cartSection .clearCart svg {
  font-size: 20px;
  margin-bottom: 4px;
}

.cartSection .clearCart {
  color: #000;
  opacity: 0.6;
  font-weight: 500;
}

.cartHeader {
  border: 1px solid #ccc;
  padding: 4px 12px;
  border-radius: 2px;
  padding-right: 26px;
}

.cartSummaryWrapper {
  margin-top: 15%;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.044), 0 3px 6px rgba(0, 0, 0, 0.067);
  border-radius: 2px;
}

.cartSummary h4 {
  font-size: 22px;
}

.cartSummary h5 {
  font-size: 17px;
  color: #000;
  opacity: 0.7;
}

.cartSummary p {
  font-size: 20px;
  color: var(--primary-color);
  font-weight: 500;
}

.cartSummaryWrapper .shipping svg {
  color: #000;
  opacity: 0.5;
  margin-right: 10px;
}
