.productThumb {
  height: auto;
  /* background-color: #ccc; */
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 5px;
  padding: 15px;
  transition: all 0.2s ease-in-out;
}

.productThumb:hover {
  box-shadow: var(--box-shadow) !important;
  /* transform: translateY(-0.3px) scale(1.003); */
}

/* .productThumb .imageWrapper {
  width: 200px !important;
}

.productThumb .imageWrapper {
  width: 150%px !important;
} */

.productThumb .catName {
  color: #000;
  opacity: 0.8;
  font-size: 14px;
}

.productThumb .title {
  color: #000;
  font-weight: 600;
  font-size: 16px;
  margin: 10px 0px;
  line-height: 25px;
}

.productThumb .brand {
  color: rgba(0, 0, 0, 0.6);
}
.productThumb .brand a {
  color: var(--primary-color);
}

.productThumb .price {
  font-size: 25px;
  color: var(--primary-color);
  margin-right: 10px;
}

.productThumb .oldPrice {
  font-size: 16px;
  opacity: 0.6;
  color: #000;
  text-decoration: line-through;
}

.productThumb button {
  font-size: 18px !important;
  color: var(--primary-color) !important;
  padding: 3px 12px !important;
  background: var(--primary-color-lighter) !important;
}

.productThumb button:hover {
  background: var(--primary-color) !important;
  color: #fff !important;
}
