@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --primary-color: #6b063f; */
  --primary-color: #279a65;
  --primary-color-light: #80ceaa;
  --primary-color-lighter: #b7f6d9;
  --primary-light-color: #977187;
  --box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.container-fluid {
  padding: 0px 30px;
}

.bg-flash {
  background: #279a65 !important;
  padding: 4px 8px !important;
  font-size: 17px !important;
  text-transform: capitalize !important;
  color: white !important;
}

.text-flash {
  color: #279a65 !important;
}

.sectionHeading {
  font-size: 30px;
  font-weight: 700;
}

.myTransition {
  transition: all 0.3s ease-in-out !important;
}
