@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --primary-color: #6b063f; */
  --primary-color: #279a65;
  --primary-color-light: #80ceaa;
  --primary-light-color: #977187;
}

.container-fluid {
  padding: 0px 30px;
}

.bg-flash {
  background: #279a65 !important;
}

.text-flash {
  color: #279a65 !important;
}
